/* Section À propos */
.section.about {
  background-color: #000; /* fond noir */
  color: #fff; /* texte blanc */
  padding: 80px 20px;
}

.section.about h2 {
  color: #FFD700; /* titre doré */
  text-align: center;
  margin-bottom: 20px;
}

.section.about p {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
}
